# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "npm"     # package manager to update (e.g., npm, yarn, pip, gomod)
    directory: "/"              # path to package manifests
    schedule:
      interval: "weekly"        # check for updates weekly (options: "daily", "weekly", "monthly")
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
    
